body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6dd5ed, #2193b0);
}

h1 {
    text-align: center;
    color: white;
    padding: 20px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    gap: 20px;
    flex-wrap: nowrap;
}

.form, .evnets {
    background: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    width: 40%;
}

input, select, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}
label {
    margin-bottom: 10px;
}
textarea {
    resize: none;
    height: 70px;
}

button {
    background: #2193b0;
    color: white;
    border: none;
    padding: 10px;
    width: 500px;
    border-radius: 6px;
    cursor: pointer;
}


.header {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 75vh;
    border-radius: 10px;
}

.danger {
    margin-bottom: 20px;
    width: 20%;
}


